[Unit]
Description=Reconcile 1Password integration groups
ConditionPathExists=/usr/bin/op
ConditionPathExists=/usr/libexec/galtzo-os/prepare-1password-groups.sh
Before=graphical-session.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash /usr/libexec/galtzo-os/prepare-1password-groups.sh

[Install]
WantedBy=multi-user.target
